---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Laura's Porfolio"
  seoTitle="Projects on Game Development and Web Development"
  seoDesc="Laura is a Computer Science student at Thompson Rivers University. This is the projects page that contains all of her past work."
>
  <div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl md:text-center mt-
auto">Projects</h1>
    <div class="grid md:text-center mt-auto py-
4 gap-2">
      <a href="/projects/Crisis"
        ><img
          class="rounded w-100 h-50 md:w-150 h-75
lg:w-175 h-100"
          src="/images/Crisis.png"
        />
      </a>
      <a href="/projects/HexAdventures"
        ><img
          class="rounded w-100 h-50 md:w-150 h-75
lg:w-175 h-100"
          src="/images/HexAdventures.png"
        /></a
      >
      <a href="/projects/NCWI"
        ><img
          class="rounded w-100 h-50 md:w-150 h-75
lg:w-175 h-100"
          src="/images/NCWI.png"
        />
      </a>
      <a href="/projects/Portfolio"
        ><img
          class="rounded w-100 h-50 md:w-150 h-75
lg:w-175 h-100"
          src="/images/Portfolio.png"
        /></a
      >
    </div>
  </div>
</Layout>
