<footer class="text-center mt-auto py-4">
  <small
    >Copyright © <span id="copyright"> </span> | All rights reserved Built with
    Astro by Carlos Avila</small
  >
</footer>
<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
